<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>YDD - Boolzap</title>
  <!-- [______Collegamento Bootstrap__________________________________________] -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- [______Collegamento Font__________________________________________] -->
  <script src="https://kit.fontawesome.com/f4affba74f.js" crossorigin="anonymous"></script>
  <!-- [______Collegamento CSS_____________________________________________] -->
  <link rel="stylesheet" href="./assets/css/stile.css">
  <!-- [______Favicon______________________________________________________] -->
  <link rel="icon" type="image/x-icon" href="./assets/img/favYconStatic.ico">

</head>

<body>

  <div id="root" class="d-flex justify-content-center align-items-center ">
    <!-- Blocco centrale -->
    <div id="corpoCentrale" class="d-flex">
      <!-- Sezione Sinistra ----------------------------------------------------------- -->
      <div class="w-25 d-flex flex-column">
        <!-- Area Profilo -->
        <div class="d-flex justify-content-between align-items-center pe-4 personal-bg-grigio">
          <div class="d-flex align-items-center p-2">
            <span class="me-3">
              <img class="rounded-circle personal-width-40" src="./assets/img/avatar_io.jpg" alt="Immagine Profilo">
            </span>
            <span class="fw-semibold">Peppina</span>
          </div>

          <div class="personal-text-grey">
            <i class="fa-solid fa-circle-notch"></i>
            <i class="fa-solid fa-message px-3"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
        </div>

        <!-- Area Notifiche -->
        <div id="areaNotifiche" class="d-flex align-items-center personal-bg-azzurrino p-2">
          <span class="bg-white rounded-circle p-2 me-3"><i
              class="fa-solid fa-bell-slash personal-text-azzurrino"></i></span>
          <span class="mb-0">
            <span class="d-block personal-fs-08 fw-semibold">Ricevi notifiche di nuovi messaggi</span>
            <a href="#" class="personal-fs-08">Attiva notifiche desktop</a>
          </span>
        </div>

        <!-- Area Contatti -->
        <div class="personal-bg-grigiochiaro">
          <div class="input-group p-2">
            <!-- Search -->
            <span class="input-group-text bg-white border-0 rounded-0" id="basic-addon1">
              <i class="fa-solid fa-magnifying-glass personal-text-grey"></i>
            </span>
            <input type="text" class="form-control border-0 rounded-0" placeholder="Username" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>
        </div>

        <div class="flex-grow-1 overflow-auto bg-white">

          <!-- Stampa contatto con v-for -->
          <!-- Contatto -->
          <div @click="utenteSelezionato(index)" class="d-flex p-2 justify-content-between border-top border-1" v-for="(elem, index) in contacts" :key="index" :class="(elem.test == true) ? 'bg-danger' : ''">
            <div class="d-flex">
              <span class="me-3">
                <img class="rounded-circle personal-width-50" :src=("./assets/img/avatar")+elem.avatar+(".jpg")
                  alt="Immagine Contatto">
              </span>
              <span>
                <div class="fw-semibold">{{elem.name}}</div>
                <span class="personal-fs-08 personal-text-grey">Ultimo messaggio inviato</span>
              </span>
            </div>

            <!-- ora -->
            <span class="personal-fs-07 personal-text-grey">12:00</span>
          </div>
        </div>
      </div>


      <!-- Sezione Destra----------------------------------------------------------- -->
      <div id="areaDestra" class="flex-grow-1 bg-light overflow-auto">

        <div class="d-flex flex-column justify-content-between h-100 ">
          <div>
            <!-- Contatto -->
            <div class="d-flex px-2 pt-2 justify-content-between align-items-center personal-bg-grigio">
              <div class="d-flex">
                <span class="me-3">
                  <img class="rounded-circle personal-width-40" :src=("./assets/img/avatar")+contacts[utente].avatar+(".jpg")
                    alt="Immagine Contatto">
                </span>
                <span>
                  <div class="fw-semibold">{{contacts[utente].name}}</div>
                  <span class="personal-fs-08 personal-text-grey">Ultimo accesso oggi</span>
                </span>
              </div>

              <div class="pe-2 personal-text-grey">
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-solid fa-paperclip mx-3"></i>
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </div>
            </div>

            

            <!-- Area messaggi -->
            <div id="areaMessaggi"  class="d-flex flex-column px-5">
              <div v-for="(elem, index) in contacts[utente].messages" :class="(elem.status == 'sent') ? 'personal-bg-lightgreen align-self-end' : 'bg-white' " class="messaggioChat w-25 p-2 m-3 rounded d-flex justify-content-between align-items-center">
                {{elem.message}}
                <span class="d-flex flex-column ">
                  <i class="fa-solid fa-chevron-down personal-text-grey d-none"></i>
                  <span class="personal-fs-06"></span>
                  <span class="personal-fs-06">{{`${formatoOra(dataOra(elem.date)[1])[0]}:${formatoOra(dataOra(elem.date)[1])[1]}`}}</span>
                </span>
              </div>
            </div>
          </div>

          

          <!-- Chat -->
          <div id="areaChat" class="d-flex justify-content-between align-items-center px-4 py-2 sticky-bottom">
            
            <i class="fa-regular fa-face-smile ms-2 personal-text-grey"></i>

            <div class="input-group mx-5">
              <input type="text" class="form-control flex-grow-1" placeholder="Scrivi un messaggio"
                aria-label="Username" aria-describedby="basic-addon1" v-model="testoMessaggio" @keyup.enter="sendMessage()">
            </div>

            <i class="fa-solid fa-microphone me-2 personal-text-grey"></i>
          </div>




        </div>
      </div>
    </div>
  </div>








  <!-- Luxon -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/luxon@3.1.0/build/global/luxon.min.js"></script> -->
  <!-- Vue.js 2.0 -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- Personal Javascript -->
  <script src="./assets/javascript/main.js"></script>
  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</body>

</html>